@page
@model GS.Certifications.Web.Areas.Proveedores.Pages.Impuestos.IndexModel
@{
}
<div id="impuestos">
    <impuestos-crud></impuestos-crud>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Proveedores/Impuestos.js")" asp-append-version="true"></script>
}