@page
@using GS.Certifications.Web.Areas.Security.Pages
@using GS.Certifications.Web.Common.Resources
@model PasswordChangeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<Shared> SharedLocalizer
<head>
    <link rel="icon" type="image/x-icon" href="~/favicon.png" />
</head>


<div class="row h-75">
    <div class="col-sm-12 vcenter">


        @if (!Model.ModelState.IsValid)
        {
            <div class="form-group offset-4 col-4">
                <div asp-validation-summary="All" class="alert alert-danger text-center"></div>
            </div>
        }
        <form method="post" action="">

            <div class="form-group offset-4 col-4 pb-2">
                <label class="col-form-label" asp-for="CurrentPassword">@SharedLocalizer["Contraseña actual"]</label>
                <input class="form-control" asp-for="CurrentPassword" type="password" autofocus />
            </div>

            <div class="form-group offset-4 col-4 pb-2">
                <label class="col-form-label" asp-for="Password">@SharedLocalizer["Nueva contraseña"]</label>
                <input class="form-control" asp-for="Password" type="password" />
            </div>

            <div class="form-group offset-4 col-4 pb-2">
                <label class="col-form-label" asp-for="PasswordConfirmation">@SharedLocalizer["Repetir nueva contraseña"]</label>
                <input class="form-control" asp-for="PasswordConfirmation" type="password" />
            </div>

            <grant grant-name="config.changepassword">
                <div class="mt-4 form-group offset-4 col-4 text-center">
                    <button type="submit" class="btn btn-success">@SharedLocalizer["Cambiar contraseña"]</button>
                </div>
            </grant>

        </form>
    </div>
</div>
