@page
@model GS.Certifications.Web.Areas.Configuration.Pages.Periodos.IndexModel
@{
}
<div id="periodos">
    <periodos-crud></periodos-crud>
</div>
@section Scripts {
    <script src="@Url.Content("~/bundle/Configuration/Periodos.js")" asp-append-version="true"></script>
}