@page
@using GS.Certifications.Web.Pages
@model IndexModel

@section BackButton { }
<!-- Main content -->
<div class="mt-1 col main-content">

    <!-- Page Title / Back button  -->
    @*<div class="col-12 d-flex my-4">
    <p class="h4 page-title">Bienvenido a Boarding</p>
    </div>*@
    <!-- Page Title / Back button end -->
    <!-- Home Notifications  -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @* <div class="alert alert-success" role="alert">
                <strong>[07:45]: </strong> Frecuencia <strong>08:15</strong> ➜ Embarque Cerrado.
                </div>
                <div class="alert alert-danger" role="alert">
                <strong>[08:22]: </strong> Se encontraron <strong>2 frecuencias con problemas de stock</strong> en la semana actual.
                </div>*@

                <div style="text-align: center;">
                    @* <h3>Bienvenido a Boarding</h3> *@
                    <h3>Bienvenido</h3>

                </div>


            </div>
        </div>
    </div>
    <!-- Home Notifications end -->



</div>
<!-- Main content end-->