
@page
@model Socios.Web.Areas.Proveedores.Pages.Comprobantes.IndexModel;
@{
}
<div id="comprobante-app">
    <comprobante-crud></comprobante-crud>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Proveedores/Comprobantes.js")" asp-append-version="true"></script>
}