@page
@model GS.Certifications.Web.Areas.Configuration.Pages.ConceptosGastosTipos.IndexModel
@{
}
<div id="conceptosGastosTipos">
    <conceptos-gastos-tipos-crud></conceptos-gastos-tipos-crud>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Configuration/ConceptosGastosTipos.js")" asp-append-version="true"></script>
}
