@page
@using GS.Certifications.Web.Areas.Interfaces.Pages.ReglasDefiniciones
@model IndexModel
@{
}
<div id="reglasDefiniciones-app">
    <reglasDefiniciones-crud>

    </reglasDefiniciones-crud>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Interfaces/ReglasDefiniciones.js")" asp-append-version="true"></script>
}