@page
@model GS.Certifications.Web.Areas.Proveedores.Pages.Administracion.IndexModel
@{
}
<div id="empresas-app">
    <empresas-crud></empresas-crud>
</div>
@section Scripts {
    <script src="@Url.Content("~/bundle/Proveedores/Empresas.js")" asp-append-version="true"></script>
}

