@page
@model GS.Certifications.Web.Areas.Proveedores.Pages.OrdenesCompras.IndexModel
@{
}
<div id="ordenesCompras">
    <ordenes-compras-crud></ordenes-compras-crud>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Proveedores/OrdenesCompras.js")" asp-append-version="true"></script>
}