@page
@model GS.Certifications.Web.Areas.Configuration.Pages.TiposOrdenesCompras.IndexModel
@{
}
<div id="tiposOrdenesCompras">
    <tipos-ordenes-compras-crud></tipos-ordenes-compras-crud>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Configuration/TiposOrdenesCompras.js")" asp-append-version="true"></script>
}
