@page
@using GS.Certifications.Web.Areas.Interfaces.Pages.ResultadosProcesos
@model IndexModel
@{
}
<div id="resultadosProcesos-app">
    <resultadosProcesos-crud>

    </resultadosProcesos-crud>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Interfaces/ResultadosProcesos.js")" asp-append-version="true"></script>
}
