@page
@model Socios.Web.Areas.Socios.Pages.RequisitosFQS.IndexModel;

<div id="requisitos-app">
    <requisitos-crud></requisitos-crud>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Socios/RequisitosFQS.js")" asp-append-version="true"></script>
}
