@page
@model Socios.Web.Areas.Security.Pages.PasswordChangeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link rel="icon" type="image/x-icon" href="~/favicon.png" />
</head>


<div class="row h-75">
    <div class="col-sm-12 vcenter">


        @if (!Model.ModelState.IsValid)
        {
            <div class="form-group offset-4 col-4">
                <div asp-validation-summary="All" class="alert alert-danger text-center"></div>
            </div>
        }
        <form method="post" action="">

            <div class="form-group offset-4 col-4 pb-2">
                <label class="col-form-label" asp-for="CurrentPassword">@securityLoc["Contraseña actual"]</label>
                <input class="form-control" asp-for="CurrentPassword" type="password" autofocus />
            </div>

            <div class="form-group offset-4 col-4 pb-2">
                <label class="col-form-label" asp-for="Password">@securityLoc["Nueva contraseña"]</label>
                <input class="form-control" asp-for="Password" type="password" />
            </div>

            <div class="form-group offset-4 col-4 pb-2">
                <label class="col-form-label" asp-for="PasswordConfirmation">@securityLoc["Repetir nueva contraseña"]</label>
                <input class="form-control" asp-for="PasswordConfirmation" type="password" />
            </div>

            <grant grant-name="config.changepassword">
                <div class="mt-4 form-group offset-4 col-4 text-center">
                    <button type="submit" class="btn btn-success">@securityLoc["Cambiar Contraseña"]</button>
                </div>
            </grant>

        </form>
    </div>
</div>
