@page
@using Socios.Web.Pages
@model IndexModel
@section BackButton { }
<div class="mt-5 col main-content">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-center">
                    <h3>
                        Bienvenido <span class="highlight">@Model.CurrentEmpresaPortal?.RazonSocial</span> al portal de
                    </h3>
                    <h3 class="highlight">@Model.CurrentCompany?.Name</h3>
                </div>
                @if (Model.IsMiFroActive)
                {
                    @await Html.PartialAsync("_Botonera")
                }

            </div>
        </div>
    </div>

</div>
<!-- Main content end-->

<style>
    .highlight {
        font-weight: bold;
    }
</style>