@page
@model GS.Certifications.Web.Areas.Proveedores.Pages.Percepciones.IndexModel
@{
}
<div id="percepciones">
    <percepciones-crud></percepciones-crud>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Proveedores/Percepciones.js")" asp-append-version="true"></script>
}