@page
@using GS.Certifications.Web.Areas.Notifications.Pages
@model IndexModel
@{
}
<div id="notifications-app">
    <notificationManagement-crud>

    </notificationManagement-crud>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Notifications.js")" asp-append-version="true"></script>
}