
@page
@model GS.Certifications.Web.Areas.Socios.Pages.Certificaciones.IndexModel
@{
}
<div id="solicitudCertificacion-app">
    <solicitudCertificacion-crud></solicitudCertificacion-crud>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Socios/SolicitudCertificaciones.js")" asp-append-version="true"></script>
}