
@page
@model GS.Certifications.Web.Areas.Socios.Pages.Certificaciones.IndexModel
@{
}
<div id="certificacion-app">
    <certificacion-crud></certificacion-crud>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Socios/Certificaciones.js")" asp-append-version="true"></script>
}