@page
@model GS.Certifications.Web.Areas.Security.Pages.Usuarios.Actividades.IndexModel
@{
}
<div id="actividadUsuarios">
    <actividad-usuarios-crud></actividad-usuarios-crud>
</div>
@section Scripts {
    <script src="@Url.Content("~/bundle/Seguridad/ActividadUsuarios.js")" asp-append-version="true"></script>
}
