@page
@using GS.Certifications.Web.Areas.Companies.Pages
@model IndexModel
@{
}
<div id="companies-app">
    <companies-crud>

    </companies-crud>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Companies.js")" asp-append-version="true"></script>
}