@page
@using GS.Certifications.Web.Areas.Alertas.Pages
@model IndexModel
@{
}
<div id="alertas-app">
    <alertas-crud>

    </alertas-crud>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Alertas.js")" asp-append-version="true"></script>
}