@page
@using GS.Certifications.Web.Areas.Configuracion.Pages.Parametros
@model IndexModel
@{
}
<div id="parametros-app">
    <parametros-crud>

    </parametros-crud>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Configuracion/Parametros.js")" asp-append-version="true"></script>
}